
body.game {
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    text-transform: uppercase;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    background: #333;

    font-family: sans-serif;
}

body {
    position: relative;
}

.weapon-info {
    background-color: #fef;
    position: absolute;
    padding: 1em;
    z-index: 2;
}

.weapon-info .weapon-ammo {
    display: inline-block;
    transform: rotate(0);
    transition: transform ease 1s;
}

.keyboard * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-canvas {
    outline: 1px solid gray;
    display: block;

    margin: 0 auto;

    transform: translateZ(0);
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.no-crisp-edges .game-canvas {
    /* When there's no crisp edges support, only scale up to 4x */
    max-width: 400px;
    max-height: 400px;
}

.keyboard .left-buttons,
.keyboard .right-buttons {
    position: absolute;
    bottom: 0;
}

.keyboard .touching {
    background: gray;
}

.keyboard .left-buttons {
    left: 0;
}

.keyboard .right-buttons {
    right: 0;
}

.keyboard div > div {
    display: inline-block;
    padding: 1em;
    margin: 0.2em;
    background-color: #fef;
}

.debug-info .debug {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1em;
    line-height: 1em;
    text-align: center;
    z-index: 1;
    background: white;
}

@media screen and (orientation: portrait) {
    .game-canvas {
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
    .game-canvas {
        height: 100vh;
    }
}

body.rooms {
    color: white;
    text-align: center;

    /* Hide the canvas going off to the right of the screen */
    width: 100vw;
    overflow: hidden;
}

body.rooms a, body.rooms a:visited {
    color: white;
}

.homepage-spectate {
    position: relative;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 1em;
}

.homepage-spectate .playbtn {
    opacity: 0.2;
    transition: opacity 150ms linear;
    transition-property: color, opacity, transform;
    text-shadow: 1px 1px 0 pink;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background: green;
    color: white;
    text-align: center;
    height: 200px;
    box-sizing: border-box;
    padding-top: 25px;
    line-height: 25px;
    white-space: pre;
}

.homepage-spectate .playbtn.going {
    transform: scale(3);
    opacity: 0;
}

.homepage-spectate:hover .playbtn,
.homepage-spectate .playbtn.going {
    opacity: 0.8;
}

.homepage-spectate iframe{
    width: 200px;
    height: 200px;
    border: 0;
    margin: 0;
    padding: 0;
}


.game-notice {
    position: fixed;
    top: 0;
    left: 20vh;
    right: 20vh;
    text-align: center;
    background-color: red;
    color: white;
    opacity: 0.8;
    padding: 5vh;
    z-index: 6;
    box-shadow: 0 0 4px black;
    margin: 2vh;
}

.game-notice.good-notice {
    background-color: green;
}


.scoreboard:before {
    display: block;
    content: 'SCORES';
    margin: 1em 0;
    font-weight: bold;
    text-align: center;
}

.scoreboard {
    display: block !important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    width: 80vw;
    height: 80vh;
    margin-right: 10vw;
    margin-top: 10vh;
    overflow-y: scroll;
    transition: margin-top 100ms ease-in;
    background-color: white;
}

.scoreboard[hidden] {
    margin-top: -100vh;
}

.scoreboard table {
    table-layout: fixed;
    margin: 5vmin;
    background-color: #fea;
}

.scoreboard td {
    width: 40vw;
}

.scoreboard td + td {
    width: 40vw;
}

.rooms-list {
    min-height: 200px;
    min-height: calc(200px + 2em /* two .homepage-spectate margins */);
}

.rooms-list.loading {
    line-height: 200px;
    vertical-align: middle;
}

.rooms-list.loading:after {
    display: inline-block;
    content: "...";
    overflow: hidden;
    position: absolute;
    text-align: left;
    width: 1em;
    animation: loadingdots 2s infinite ease-out;
}

@keyframes loadingdots {
    0% {
        width: 0px;
    }
    50% {
        width: 1.2em;
    }
    100% {
        width: 0px;
    }
}



.scoreboard {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.scoreboard-toggle {
    background-color: #fef;
    display: block;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}

.scoreboard-toggle:after {
    display: block;
    content: 'scores';
    padding: 1em;
}
