
body.game {
    -moz-user-select: none;
    user-select: none;
    cursor: default;
    text-transform: uppercase;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;

    background: #333;

    font-family: sans-serif;
}

body {
    position: relative;
}

.weapon-info {
    background-color: #fef;
    position: absolute;
    padding: 1em;
    z-index: 2;
}

.weapon-info .weapon-ammo {
    display: inline-block;
    transform: rotate(0);
    transition: transform ease 1s;
}


.weapon-img {
    margin-top: -1em;
    margin-bottom: -1em;
    height: 3em;

    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}

.weapon-img:not([hidden]) {
    animation: 2s weapon-showoff;
    display: inline-block;
}

@keyframes weapon-showoff {
    0% { transform: rotate(-20deg); }
    50% {
        transform: rotate(20deg) translate(20vw, 20vh) scale(3);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.keyboard * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.game-canvas {
    outline: 1px solid gray;
    display: block;

    margin: 0 auto;

    transform: translateZ(0);
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.no-crisp-edges .game-canvas {
    /* When there's no crisp edges support, only scale up to 4x */
    max-width: 400px;
    max-height: 400px;
}

.keyboard .left-buttons,
.keyboard .right-buttons {
    position: absolute;
    bottom: 0;
}

.keyboard .touching {
    background: gray;
}

.keyboard .left-buttons {
    left: 0;
}

.keyboard .right-buttons {
    right: 0;
}

.keyboard div > div {
    display: inline-block;
    padding: 1.3em;
    margin: 0.2em;
    background-color: #fef;
}

.debug-info .debug {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1em;
    line-height: 1em;
    text-align: center;
    z-index: 1;
    background: white;
}

@media screen and (orientation: portrait) {
    .game-canvas {
        width: 100%;
    }
}

@media screen and (orientation: landscape) {
    .game-canvas {
        height: 100vh;
    }
}

body.rooms {
    color: white;
    text-align: center;

    /* Hide the canvas going off to the right of the screen */
    width: 100vw;
    overflow-x: hidden;
}

body.rooms a, body.rooms a:visited {
    color: white;
}

.homepage-spectate {
    position: relative;
    height: 200px;
    width: 200px;
    display: inline-block;
    margin: 1em;
}

.homepage-spectate .playbtn {
    opacity: 0.2;
    transition: opacity 150ms linear;
    transition-property: color, opacity, transform;
    text-shadow: 1px 1px 0 pink;
    position: absolute;
    top:0;left:0;right:0;bottom:0;
    background: green;
    color: white;
    text-align: center;
    height: 200px;
    box-sizing: border-box;
    padding-top: 25px;
    line-height: 25px;
    white-space: pre;
}

.homepage-spectate:hover .playbtn,
.homepage-spectate .playbtn.going {
    opacity: 0.8;
}

.homepage-spectate iframe{
    width: 200px;
    height: 200px;
    border: 0;
    margin: 0;
    padding: 0;
}


.game-notice {
    position: fixed;
    top: 0;
    left: 20vh;
    right: 20vh;
    text-align: center;
    background-color: red;
    color: white;
    opacity: 0.8;
    padding: 5vh;
    z-index: 6;
    box-shadow: 0 0 4px black;
    margin: 2vh;
}

.game-notice.good-notice {
    background-color: green;
}


.scoreboard:before {
    display: block;
    content: 'SCORES';
    margin: 1em 0;
    font-weight: bold;
    text-align: center;
}

.ui-panel {
    display: block !important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 3;
    width: 80vw;
    height: 80vh;
    margin-right: 10vw;
    margin-top: 10vh;
    overflow-y: auto;
    transition: margin-top 50ms linear;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}

.ui-panel[hidden] {
    margin-top: -100vh;
}

.ui-panel-toggle {
    background-color: #fef;
    display: block;
    position: fixed;
    z-index: 1;
}

.ui-panel-toggle:after {
    display: block;
    content: 'ui panel';
    padding: 1em;
}

.scoreboard table {
    table-layout: fixed;
    margin: 5vmin;
    width: 90%;
    width: calc(100% - 10vmin);
    text-align: center;
}

.scoreboard tr.player-in-team-red {
    background-color: rgba(255, 60, 60, 0.8);
    color: white;
}
.scoreboard tr.player-in-team-blue {
    background-color: rgba(60, 60, 255, 0.8);
    color: white;
}

.rooms-list {
    min-height: 200px;
    min-height: calc(200px + 2em /* two .homepage-spectate margins */);
}

.rooms-list.loading {
    line-height: 200px;
    vertical-align: middle;
}

.rooms-list.loading:after {
    display: inline-block;
    content: "...";
    overflow: hidden;
    position: absolute;
    text-align: left;
    width: 1em;
    animation: loadingdots 2s infinite ease-out;
}

@keyframes loadingdots {
    0% {
        width: 0px;
    }
    50% {
        width: 1.2em;
    }
    100% {
        width: 0px;
    }
}

.player-greeting {
    font-weight: bold;
}

.settings-panel {
    text-align: center;
}
.settings-panel button {
    border: 2px solid black;
    display: block;
    background: #fea;
    color: black;
    margin: 1em auto;
}
.settings-panel button:hover {
    background: white;
}
.settings-panel button:first-child {
    margin-top: 4em;
}


.settings-panel-toggle {
    z-index: 1;
    top: 3em;
    right: 0;
}

.settings-panel-toggle:after {
    content: 'settings';
}

.scoreboard-toggle {
    top: 0;
    right: 0;
}

.scoreboard-toggle:after {
    content: 'scores';
}

@keyframes game-presentation-marquee {
    0% {
        margin-left: 0;
    }
    10% {
        margin-left: 0;
    }
    50% {
        margin-left: calc(100vw - 500px);
    }
    60% {
        margin-left: calc(100vw - 500px);
    }
}

@media screen and (max-width: 500px) {
    .presentation-canvas {
        animation: game-presentation-marquee 40s infinite linear;
    }
}

